/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
.ui-corner-all{ -webkit-border-radius: 0px; border-radius: 0px;}
body{background-color:black;}
#ardoraMain{ font-family:Verdana, Geneva, sans-serif; color: #EFF0F1; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 12px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: left;
}
#ardora_zoom {display:table-row;position:relative;width:100%;margin:0px auto 0px;padding:10px;}
#container_zoom h1 {color:#FFFFFF;font-size:20px;}
#container_zoom p {color:#666666;text-align:center;font-size:11px;}
a img {border:none;}
#zoomer{width:512px;height:288px;display:block;position:absolute;overflow:hidden;margin:10px;border:1px #000000 solid;border-color:#000000;cursor:move;}
#zoomer_image {display:block;position:absolute;}
#zoomer_thumb {display:block;left:527px;position:relative;overflow:hidden;margin:10px;border:1px #000000 solid;border-color:#000000;background-color: #FF8000;
width:256px;height:144px;background-image: url("../media/t_infografiaSensoresActuadores.jpg");}
#zoomer_region {background-color:#FFFFFF;border:none;position:absolute;top:0px;left:0px;cursor:move;opacity: .7;width:128px;height:72px;}
